.AlertContainer {
  position: fixed;
  width: 400px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.AlertContainerItem {
  margin: 20px;
}

@media (max-width: 700px) {
  .AlertContainer {
    width: 90%;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }

  .AlertContainerItem {
    margin: 10px;
  }
}
